.wrapper-clock {
  background-color: #d2d2d236;
	}
.wrapper-choice {
	}
.z-modal {
  display: none;
	}
.z-modal-show {
  display: block;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.8);
  z-index: 99999;
  transition: opacity 400ms ease-in;
	}
.menu-sort {
  height: 50px;
  width: 100%;
  :first-child {
    float: left;
    padding-right: 20px;
	  }
	}
.sorting-zone {
  float: left;
  padding-left: 70px;
  span {
    font: 400 14px system-ui;
    padding-top: 7px;
	  }
	}

.zone-select {
  float: left;
  padding: 10px 10px 10px 10px;
  width: 250px;
  height: 180px;
  text-align: center;
	}
